<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
	<meta name="theme-color" content="#002f34">
    <title>PetChain  - a blockchain enabled pet marketplace</title>
	<link href="../public/css/bootstrap.min.css" rel="stylesheet">
	<link href="../public/css/<%=pmi18n("csspath")%>" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/bootstrap-icons.css">
	<link rel="stylesheet" href="../public/sweetalert2/sweetalert2.min.css">

<script>

function validate()
{
	var Frm = document.PasuMarketForm;

}

function Verify(PostID,CategoryTable)
{
	var Frm = document.PasuMarketForm;
	Frm.hdnPostID.value=PostID;
	Frm.hdnCategoryTable.value=CategoryTable;
	Frm.submit();
}

</script>
	
</head>

<body class="d-flex flex-column bodyh100 bglight">
    
<header>
	<nav class="navbar navbar-expand-md navbar-light fixed-top custom-navbar">
		<div class="container">
			<% include verif-header %>
		</div>
	</nav>
</header>

<main role="main" class="flex-shrink-0">
<form novalidate name="PasuMarketForm" method="post" action="/get-verif-verifform" onsubmit="return validate()">
	<div class="container header-container">

		<div class="row justify-content-center msearch-row">
			<div class="col-md-10 col-lg-10">

				<div class="card signin-card">
					<div class="card-header signin-card-header">
						Verification List
					</div>
					<div class="card-body signin-card-body">

						<table class="table table-sm table-bordered">
						  <tbody>
							<tr>
							  <td width="10%" class="veriflist-table-td-h">SlNo</td>
							  <td width="30%" class="veriflist-table-td-h">Owner's Name</td>
							  <td width="30%" class="veriflist-table-td-h">Livestock Category</td>
							  <td width="15%" class="veriflist-table-td-h">Price</td>
							  <td width="15%" class="veriflist-table-td-h">Verify</td>
							</tr>
					<%
						var SlNo=0;
						data.CattleList.forEach(function(Classified)
						{
							SlNo=SlNo+1;
					%>
							<tr>
							  <td align="center"><%=SlNo%></td>
							  <td><%=Classified.Name%></td>
							  <td><%=Classified.SubCategory%></td>
							  <td align="center"><%=Classified.Price%></td>
							  <td align="center">
								<button type="button" class="btn btn-sm pm-btn" onclick="Verify('<%=Classified._id%>','TbCattle')">
									Verify
								</button>
							  </td>
							</tr>
					<%
						});
					%>
						  </tbody>
						</table>

					</div>
				</div>

			
			</div>
		</div>

		<input type="hidden" name="hdnPostID" value="">
		<input type="hidden" name="hdnCategoryTable" value="">

	</div>
</form>
</main>


<footer class="footer mt-auto myfooter">
	<% include footer %>
</footer>


<script src="../public/js/jquery-3.5.1.slim.min.js"></script>
<script src="../public/js/popper.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/sweetalert2/sweetalert2.min.js"></script>

</body>
</html>
